<html>
    <head>
      <title>Joy's Timeline</title>
      <meta charset="utf-8">
      <meta name="description" content="TimelineJS example">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-touch-fullscreen" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <!-- HTML5 shim, for IE6-8 support of HTML elements--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>
    <div id="timeline-embed"></div>
    <div id="disqus_thread"></div>
    <div class="ds-thread" data-thread-key="" data-title="joy's timeline" data-url="http://joy-timeline.herokuapp.com"></div>
    <script type="text/javascript" src="build/js/comment.js"></script>
    </body>
    <script type="text/javascript" src="build/js/dropbox.js"></script>
    <script type="text/javascript" src="build/js/dropbox-client.js"></script>
    <script type="text/javascript">
        var JOY = {};
        JOY.paths = "<%=@paths%>";
    </script>
    <script type="text/javascript" src="build/js/timeline-config.js"></script>
    <script type="text/javascript" src="build/js/storyjs-embed.js"></script>
</html>