// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height:100%;
  padding-top: 10px;
  margin: 0px;
}

#ds-thread,
#disqus_thread {
  margin-left: 5%;
  margin-right: 5%;
}